* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.head{
    text-align: center;
    font-size: 3rem;
    font-family: 'Italianno', cursive;
}
body{
    background:url("cool-background (2).png");
    background-repeat:no-repeat;
    background-size:cover;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    
    display: flex;
    flex-wrap: wrap;
    
}

#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.note {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 15px;
    margin-top: 55px;
}

.tool {
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.tool i {
    padding: 5px;
    cursor: pointer;
}

.note textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
}

.note textarea:focus {
    border: 0;
    outline: 0;
}


/* @media (max-width: 400px) {
    .cont1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem
    
    }
} */
